.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.name {
  font-size: 1.5rem;
  transition: transform .3s ease-in-out;
}

.name.post {
  background-image: linear-gradient(45deg, var(--pink), var(--purple));
  background-clip: text;
  color: transparent;
}

.name.post:hover {
  transform: scale(1.02);
}
